table, th, td 
{
	border: 1px solid black;
	border-collapse : collapse;
	margin-bottom: 5%;
}
th, td 
{
	border-color: brown;
}
body
{
	font-family: ariel;
	color: brown;
	background-color : #FAF9F6;
	font-size : 14pt;
}
caption
{
	font-size : 32pt;
	font-family: ariel;
}
h1
{
	text-align : center ;
	font-size : 43pt ;
}
a   /* Adjusting color of anchors to theme of page */
{
	color:maroon;
}
#small-heading
{
	font-size : 15pt ;
}
